#site_title {
    float: left;
    margin-top: 5px;
}


#templatemo_top { 
	background-image: url(../images/templatemo_bg_home.png)    ;
	/*background-color:#000;*/ 
}

section#banner img.img-responsive{
	height: 270px;
	width: 100%;
	object-fit: cover;
	object-position: 0 0;
}

.ddsmoothmenu ul li.active{
	color: white;
    background: #C53430;
}

.info{
	text-align: center;
}

.btn-reset{
	margin-left: 5px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    text-align: center;
}